{% extends 'base.html' %}

{% block content %}

{%if error%}
{{ error }}
<br><br>

{%endif%}
<br>
<h3>Sign Up</h3>

<form class="" action="{% url 'signup'%}" method="post">
  {% csrf_token %}
  Username:<br>
  <input type="text" name="username" >
<br><br>
  Password:<br>
  <input type="password" name="password1" value="">
<br><br>
  Confirm Password:<br>
  <input type="password" name="password2" value="">
<br><br>
  <input class="btn btn-primary" type="submit" name="" value="Sign Up">


</form>
{%endblock%}
